@import "../function/function";

.l-inner {
  max-width: rem(600);
	width: 100%;
  padding-right: $padding-sp;
  padding-left: $padding-sp;
  margin-right: auto;
  margin-left: auto;

  @include mq("md") {
    max-width: $inner + strip-unit($padding-pc-left)* 2;
		width: 100%;
    padding-right: $padding-pc-left;
    padding-left: $padding-pc-left;
  }
}
